/identifiers_extractor/parsers/build/*
!identifiers_extractor/parsers/build/.gitkeep
/identifiers_extractor/language_recognition/build/*
!identifiers_extractor/language_recognition/build/.gitkeep
/identifiers_extractor/tests/test_results/
