[submodule "identifiers_extractor/parsers/vendor/tree-sitter-bash"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-bash
	url = https://github.com/tree-sitter/tree-sitter-bash/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-c"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-c-sharp"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-c-sharp
	url = https://github.com/tree-sitter/tree-sitter-c-sharp/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-cpp"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-cpp
	url = https://github.com/tree-sitter/tree-sitter-cpp/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-go"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-go
	url = https://github.com/tree-sitter/tree-sitter-go/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-java"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-java
	url = https://github.com/tree-sitter/tree-sitter-java/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-javascript"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-javascript
	url = https://github.com/tree-sitter/tree-sitter-javascript/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-php"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-php
	url = https://github.com/tree-sitter/tree-sitter-php/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-python"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-python
	url = https://github.com/tree-sitter/tree-sitter-python/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-ruby"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-ruby
	url = https://github.com/tree-sitter/tree-sitter-ruby/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-rust"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-rust
	url = https://github.com/tree-sitter/tree-sitter-rust/
[submodule "identifiers_extractor/parsers/vendor/tree-sitter-typescript"]
	path = identifiers_extractor/parsers/vendor/tree-sitter-typescript
	url = https://github.com/tree-sitter/tree-sitter-typescript/
